# Ignore configuration files that may contain sensitive information
/drupal/sites/*/settings.php

# Ignore paths that contain user-generated content
/drupal/sites/*/files
/drupal/sites/*/private

# xIgnore cache directories
.sass-cache/

# Ignore database backups
*.sql*

# Ignore uploads directory
/uploads

# Ignore .htaccess
.htaccess
